[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
click= "*"
flask-cors = "*"
pymysql = {extras = ["rsa"], version = "*"}
sqlalchemy-utils = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
