<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div id="app">
      
      <ul>
      <li v-for="player in players" v-show="!player.drafted">
        
    <p>  [[ player.firstName ]]   [[ player.lastName ]] |    [[ player.team ]]  | [[ player.position ]] | [[ player.id ]]   <button @click="add(player)">Draft</button></p>
  
    </a>
    </li>
    </ul>
  
  
    </div>
    
    <script type="text/javascript">
      new Vue({ el: '#app', delimiters: ['[[', ']]'], data() { 
        return { players: null } }, 
        mounted() {
    // GET request using fetch with error handling
    this.players = ""
    fetch("/players/")
      .then(async response => {
        const data = await response.json();
    
        // check for error response
        if (!response.ok) {
          // get error message from body or default to response statusText
          const error = (data && data.message) || response.statusText;
          return Promise.reject(error);
        }
        data.forEach((item, i) => {
          item.drafted = false
        });
        this.players = data
      })
      .catch(error => {
        this.errorMessage = error;
        console.error("There was an error!", error);
      });
  },
  methods: {
    
    add: function(player){
      player.drafted = true
      fetch('/players/select/' + player.id, {
    method: 'post'
  });
    }
  }
})
    </script>
  </body>
</html>